<!DOCTYPE html>
<html>
<head>
    <title>Welcome to reco</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='reco.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body class="backdrop-filter">
    <div class="backdrop-filter">
        <div class="center">
            <h1 style = "margin-top: 14dvh; margin-bottom: 2dvh;">How would you like to customize your playlist?</h1>
        </div>
        <br>

        <form action="{{ url_for('make_reco_playlist') }}" method="post">

            <div class="form-container">

                <div class="input-group">
                    <label for="play_name">Name for Playlist</label>
                    <input type="text" id="play_name" name="play_name" placeholder="Give Reco a name for your Playlist">
                </div>

                <div class="input-group">
                    <label for="play_num">How many songs would you like in your playlist?</label>
                    <select id="play_num" name="play_num">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="75">75</option>
                        <option value="100">100</option>
                    </select>
                </div>
                <br>
            </div>

            <div class="center">
                <button type="submit" class="login-button" style = "margin-bottom: 2dvh;">Make a reco playlist</button>
            </div>

        </form>
        <form action="{{ '/' }}">
            <div class="center">
                <button type="submit" class="login-button">Go Home</button>
            </div>
        </form>
    </div>
</body>
</html>
